<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender qualificationName="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%accessLevel] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender qualificationName="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender qualificationName="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender qualificationName="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger qualificationName="play" accessLevel="INFO" />
  <logger qualificationName="application" accessLevel="DEBUG" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger qualificationName="com.avaje.ebean.config.PropertyMapLoader" accessLevel="OFF" />
  <logger qualificationName="com.avaje.ebeaninternal.server.core.XmlConfigLoader" accessLevel="OFF" />
  <logger qualificationName="com.avaje.ebeaninternal.server.lib.BackgroundThread" accessLevel="OFF" />
  <logger qualificationName="com.gargoylesoftware.htmlunit.javascript" accessLevel="OFF" />

  <root accessLevel="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
